* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1{
	margin:0;
	padding:0;
}
@media (min-width: 550px) {
}
@media (min-width: 850px) { 

	.navbar{
		width:100%;
		display:flex;
		justify-content: flex-end ;		
	}
	.navbar li{
	
			}

	/* .container{
		width:75%;
		margin:0 auto;
	} */
	
	.img-gallery{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		/* justify-content: space-evenly; */
		/*align-items: center;*/
	}
	.img-gallery li{
			flex-basis:28%;
			margin-left: 4%;
			margin-bottom: 5%;	
	}

	.img-gallery li img{
		height:200px;
	}
}